/* styles.css */
@keyframes transitionIn{
    from {
        opacity: 0;
        transform:  rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

.page-fade {
    animation: transitionIn 1s;
}

@font-face {
    font-family: 'American Typewriter';
    src: url('fonts/American\ Typewriter\ Regular.ttf') format('truetype');
}

body {
    background-size: cover; /* ทำให้ภาพพื้นหลังปรับขนาดเต็มขนาดหน้าจอโดยไม่เกิดการบิดเบี้ยวหรือย่อขนาด */
    background-position: center; /* จัดตำแหน่งของภาพพื้นหลังให้อยู่ตรงกลาง */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}   

.logo {
    max-width: 100vw;
    height: auto;
    margin-top: -22vh;
}

.start {
    max-width: 45vw;
    height: auto;
    margin-bottom: -17vh;
    margin-top: 135px;
}

.text-main{
    font-family: 'American Typewriter', light;
    font-size: min(vw, 54px);
    margin-top: -2vh;
    margin-left: 7vw;
    text-align: right;
    color: white;
}
    
.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0vh 10vw;
}  

.ques-text {
    font-family: 'American Typewriter';
    font-size: min(5vw, 54px);
    color: #B7C291;
    width: auto;
    height: auto;
    padding: 10px 20px;
}

.bg-text{
    background: url('image/textbox.png');
    background-size: auto;
    background-position: center;
    margin-bottom: 7vh;
}

.answer {
    font-family: 'American Typewriter';
    font-size: min(4vw, 30px);
    color: #F8A773;
    padding: 14px 12px;
    margin: 19px 0px;
    text-decoration: none;
 }    

.hand {
    max-width: 55vw;
    height: auto;
}

#answerMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#answerImage {
    max-width: 100%;
    max-height: 100vh; 
}

@media screen and (orientation: landscape) {
    #answerImage {
        max-width: 100vw; /* ให้ความกว้างของภาพไม่เกินความกว้างของหน้าจอโทรศัพท์ในโหมดแนวนอน */
        max-height: 100%;
    }
}

#reloadButton {
    position: absolute;
    top: 19px;
    right: 19px;
    cursor: pointer;
    max-width: 10vw;
    opacity: 70%;
}

#downloadButton {
    position: absolute;
    top: 19px;
    right: 60px;
    cursor: pointer;
    max-width: 10vw;
    opacity: 70%;
}

@media screen and (orientation: landscape) {
    .logo {
        max-width: 60vw;
        margin-top: -36vh;
        margin-left: -3vw;
        margin: -36vh 0vw -0vh -3vw;
    }
    
    .text-main{
        font-size: min(3vw, 30px);
        margin: -4vh 0vw 0vh 5vw;
    }
    
    .start {
        max-width: 18vw;
        margin: 18vh 0vw -27vh 0vw;
    }
    
    .hand {
      max-height: 700px;
      width: auto;
    }
}